<div class="row">
    <h2>Habilidades</h2>
    <div class="text-center col-sm-4 col-md-4">
        <circle-progress
            [percent]="50"
            [radius]="100"
            [showUnits]="false"
            [showImage]="true"
            [imageSrc]="'../assets/favicon/favicon-32x32.png'"
            [imageHeight]="40"
            [imageWidth]="40"
            [showSubtitle]="false"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#0000ff'"
            [innerStrokeColor]="'#00fff2'"
            [animation]="true"
            [animationDuration]="500"
            [lazy]="true"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4">
        <circle-progress
            [percent]="65"
            [radius]="100"
            [showUnits]="false"
            [title]="'HTML'"
            [titleColor]="'#0000ff'"
            [titleFontSize]="'2em'"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#0000ff'"
            [innerStrokeColor]="'#00fff2'"
            [animation]="true"
            [animationDuration]="500"
            [lazy]="true"
        ></circle-progress>
    </div>
</div>