<div class="container shadow p-3 mb-0 bg-body rounded">
    <div class="row login-body">
        <div class="modal-header">
            <h3 class="modal-title">Login</h3>
            <a href="#" class="btn"><i class="fa-solid fa-xmark"></i></a>
        </div>
        <div class="modal-body">
            <form action="">
                <div class="form-outline form-white mb-4">
                    <input type="email" 
                        name="userName" id="userName" 
                        class="form-control form-control-lg" required
                    >
                    <label for="userName" class="form-label">Usuario</label>
                </div>
                <div class="form-outline form-white mb-4">
                    <input type="password" 
                        name="password" id="password" 
                        class="form-control form-control-lg" required
                    >
                    <label for="password" class="form-label">Contraseña</label>
                </div>
                <div class="btn-form">
                    <button type="submit" class="btn btn-primary">Ingresar</button>
                </div>
            </form>
        </div>
    </div>
</div>
