<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="" alt="about" class="img-fluid" id="profilePicture">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="name">Meneghini, Cecilia Ornella</p>
        <p>Full Stack Developer</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h2>Acerca de mí</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit eveniet eaque corporis, veritatis, doloribus, consectetur harum neque cupiditate maxime pariatur laudantium quo et alias commodi! Repellat velit earum necessitatibus architecto.</p>
        </span>
    </div>
</div>
